body {
    background-image: url("../images/photo_2024-01-12_11-38-39.jpg");
    background-size: cover;
}
.login-form {
    /* border: 1px solid red; */
    background: transparent;
    border-radius: 30px;
    color: white;

    margin: 5% 30% 0 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        text-align: center;
        margin-bottom: 10%;
    }
    div {
        display: flex;
        width: 100%;
        margin-bottom: 10%;
        justify-content: center;
        align-items: center;
        gap: 25px;
        color: red;

        label {
            width: 25%;
            text-align: end;
            margin: 5px;
            margin-top: 15px;
        }

        #email {
            margin-left: 17px;
        }

        input {
            width: 60%;
            /* align-self: center; */
            /* margin: auto; */
            height: 30px;
        }
    }
    .submit-button {
        margin-bottom: 5%;
        color: white;
        cursor: pointer;
        margin-top: 10px;
        width: 20%;
        height: 25px;
        align-self: center;
        background-color: green;
    }
    .submit-button:hover {
        background-color: greenyellow;
    }
}
.message {
    justify-content: center;
}

p,
h3 {
    color: white;
    text-align: center;
}
@media only screen and (max-width: 760px) {
    .login-form {
        margin: 30% 5% 0 5%;
    }
}
