body {
    background-color: black;
    color: white;
}
header {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}
.user-nav {
    display: flex;
    gap: 20px;
    font-size: 150%;
    margin-right: 5%;
}
.user-nav a {
    text-decoration: none;
    color: white;
}
.user-nav a:hover {
    color: red;
}
logo {
    color: white;
    font-size: 30px;
}


.img {
    display: flex;
    width: 100%;
    justify-content: center;
}
.img img {
    width: 80%;
    height: 300px;
}
.disc {
    color: white;
    border: 1px solid white;
    margin: 5% 30% 0 30%;
    height: auto;
    padding-left: 5px;
    word-wrap: break-word;
}
h3 {
    margin-top: 0;
    text-align: center;
}



@media only screen and (max-width: 760px) {
    header {
        flex-direction: column;
        gap: 5px;
    }
    logo {
        text-align: center;
    }
    .user-nav,
    .dropbtn,
    logo {
        font-size: small;
    }
    .user-nav {
        justify-content: space-between;
    }

    .img{
        padding-top: 50px;
        .profile-form{
            display: flex;
            

            button{
                width: 50%;
            }
        }
    }
    .disc{
        padding: 0;
        margin: 30px 0 0 0;

        width: 95%;
        height: auto;
    }
}

